/* Write your CSS here */

html {
  overflow-x: hidden;
}

.bg-container {
  background-image: linear-gradient(#fff1eb, #ace0f9);
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  margin-top: 30px;
  height: 90%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Bree Serif;
}

.head-card {
  color: #1e293b;
  font-size: 55px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .head-card {
    font-size: 35px;
    font-weight: bolder;
  }
}

.search-card {
  height: auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #7b8794;
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  .search-card {
    width: 80%;
  }
}

.input-card {
  height: 40%;
  width: 90%;
  font-size: 40px;
  font-weight: bolder;
  padding-left: 20px;
  color: #7b8794;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  outline: none;
}

@media screen and (max-width: 767px) {
  .input-card {
    padding-left: 10px;
    font-size: 20px;
  }
}

.search-image {
  height: 40px;
  background-color: transparent;
}

.tab-card {
  height: 60px;
  width: 40%;
  margin-top: 20px;
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .tab-card {
    width: 85%;
  }
}

.tab-list-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.app-card {
  width: 75%;
  margin-top: 20px;
}

.app-list-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px;
}
